* { font-family: 'Lato', sans-serif, Arial; font-weight: 400;
	background: url(back.png);
		}
h1 { font-family: 'Lato', sans-serif, Arial; font-weight: 700; 
	color:white;
	font-size:60px;	}
		
.myButton {
			-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
			-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
			box-shadow:inset 0px 1px 0px 0px #54a3f7;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
			background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
			background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
			background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
			background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
			background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
			background-color:#007dc1;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
		
			border:1px solid #124d77;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:arial;
			font-size:20px;
			padding:6px 24px;
			text-decoration:none;
			text-shadow:0px 1px 0px #154682;
		}
.myButton:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
			background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
			background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
			background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
			background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
			background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
			background-color:#0061a7;
		}
.myButton:active {
			poition:relative;
			top:1px;
		}

#contenedor{

	margin-left: 30%;
	width: 800px;
	height: 600px;
  /* background-color: yellow; */
}
#cabecera{
	margin-top: 20%;
	margin-bottom: 5%;
	float:left;
	clear:both;
	/* background-color: red;*/
}


#formlogin{
	margin-left: 10%;
	text-align: right;
	float:left;
	clear: both;
}

#ingbtn{

	text-align: center;
	float:left;
	clear:both;
	margin-left: 22%;
}

input{
-moz-border-radius: 3px; /* Con esto hacemos un redondeo en los bordes para que no se mire cuadrado */
background-color: #DDEDF4; /* Con esto indicamos el color de fondo */
/*border: 1px solid #DDEDF4; /* Con esto indicamos el size del borde, el estilo (thin, solid, etc) y el color del borde */
/*color: #DDEDF4; /* Con esto indicamos el color del contenido */
font-family: Verdana; /* Con esto indicamos la fuente de letra */
font-size: 10px; /* Con esto indicamos el size de letra */
margin: 3px; /* Con esto definimos el espacio afuera del borde */
padding: 3px; /* Con esto definimos el espacio entre el borde */
margin-bottom: 5px;
width:300px;
height:60px;
text-align: center;
font-size: 12px;
color: #afe8f6;

}

input::-webkit-input-placeholder {
    color:  #31698a;
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;

}
/*input::-moz-placeholder {
    color:  #31698a;
    font-weight: bold;
}